html,
body {
  margin: 0;
  font-family: '微軟正黑體';
}
[v-cloak] {
  display: none;
}
.main_frame {
  width: 1200px;
  margin: auto;
  border: 3px #333333 solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}
.top_box {
  margin-bottom: 10px;
}
.top_box > select {
  padding: 5px;
  font-size: 16px;
  border: 3px solid #a9a9a9;
  border-radius: 3px;
}
.chs_frame {
  border: 1px solid #e94335;
}
.chs_frame .title_frame {
  background-color: #e94335;
  font-size: 0;
  line-height: 0;
}
.chs_frame .title_frame > div {
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
.chs_frame .title_frame > div.active {
  background-color: #d73021;
}
.chs_frame .sub_frame .sub_box {
  box-sizing: border-box;
  padding: 20px 40px;
}
.chs_frame .sub_frame .sub_box .subname {
  color: #E94335;
  margin-right: 30px;
}
.chs_frame .sub_frame .sub_box .sublist {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.chs_frame .sub_frame .sub_box .sublist .subicon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0px 2px #CCCCCC;
  margin-bottom: -3px;
  margin-right: 5px;
}
.chs_frame .sub_frame .sub_box .sublist .subicon.active {
  border-color: #e64234;
  box-shadow: 0 0 0px 2px #e64234;
}
.chs_frame .sub_frame .sub_box .sublist .subtxt {
  cursor: pointer;
}
.result_frame {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}
.result_frame > div {
  width: 50%;
}
.result_frame .btn_box > input[type=button] {
  color: #ffffff;
  background-color: #D73021;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.result_frame .btn_box > input[type=button]:hover {
  background-color: #FF7F40;
}
.num_frame .num_box {
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px 20px;
  align-items: center;
}
.num_frame .num_box .num_title {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
}
.num_frame .num_box .WZ_item {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  color: #797979;
  line-height: 20px;
  cursor: pointer;
}
.num_frame .num_box .WZ_item:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #797979;
  border-radius: 3px;
  margin-bottom: -4px;
}
.num_frame .num_box .WZ_item.active:before {
  content: "✔";
  width: 20px;
  height: 20px;
  background-color: #35baf1;
  color: #ffffff;
  border-color: #35baf1;
  text-align: center;
}
.num_frame .num_box .num_item {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #ccc;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: all .1s linear;
  margin-bottom: 10px;
}
.num_frame .num_box .num_item.active {
  background-color: #D73021;
  color: #fff;
}
.num_frame .num_box .num_item_btn {
  width: 30px;
  height: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 15px;
  background-color: #ffffff;
  margin-right: 10px;
  transition: all .2s linear;
}
.num_frame .num_box .num_item_btn:hover {
  color: #E94335;
  border: 1px solid #E94335;
}
.num_frame .num_box .num_item_C {
  width: 80px;
  border-radius: 50px;
}
.betlist_frame {
  border: 1px solid #e94335;
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
}
.betlist_frame .bl_titlte {
  background-color: #e94335;
  color: #ffffff;
}
.betlist_frame .bl_context_box {
  max-height: 300px;
  overflow-y: scroll;
}
.betlist_frame .bl_context {
  height: 60px;
}
.betlist_frame .bl_context .bl_row:nth-child(3) {
  font-size: 30px;
}
.betlist_frame .bl_context:hover {
  background-color: rgba(255, 166, 0, 0.5);
}
.betlist_frame .bl_row {
  padding: 10px;
  box-sizing: border-box;
}
.betlist_frame .bl_row:nth-child(1) {
  flex: 1;
}
.betlist_frame .bl_row:nth-child(1) p {
  margin: 0;
}
.betlist_frame .bl_row:nth-child(2) {
  width: 150px;
  display: flex;
  align-items: center;
}
.betlist_frame .bl_row:nth-child(3) {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.betlist_frame .bl_empty {
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 20px;
}
.fx {
  display: flex;
}
.fw {
  flex-wrap: wrap;
}