html, body {
    margin: 0;
    font-family: '微軟正黑體'
}

[v-cloak] {
    display: none;
}

.main_frame {
    width: 1200px;
    margin: auto;
    border: 3px #333333 solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}

.top_box {
    margin-bottom: 10px;

    & > select {
        padding: 5px;
        font-size: 16px;
        border: 3px solid #a9a9a9;
        border-radius: 3px;
    }
}

.chs_frame {
    border: 1px solid #e94335;

    .title_frame {
        background-color: #e94335;
        font-size: 0;
        line-height: 0;

        & > div {
            color: #ffffff;
            padding: 10px 20px;
            display: inline-block;
            font-size: 16px;
            line-height: 1;
            cursor: pointer;

            &.active {
                background-color: #d73021;
            }
        }
    }

    .sub_frame {
        .sub_box {
            .bx();
            padding: 20px 40px;

            .subname {
                color: #E94335;
                margin-right: 30px;
            }

            .sublist {
                display: inline-block;
                margin-right: 20px;
                cursor: pointer;

                .subicon {
                    display: inline-block;
                    .wh(8px);
                    border: 6px solid #ffffff;
                    border-radius: 50%;
                    box-shadow: 0 0 0px 2px #CCCCCC;
                    margin-bottom: -3px;
                    margin-right: 5px;

                    &.active {
                        border-color: #e64234;
                        box-shadow: 0 0 0px 2px #e64234;
                    }
                }

                .subtxt {
                    cursor: pointer;
                }
            }
        }
    }
}

.result_frame {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.num_frame {
    .num_box {
        background-color: #F7F7F7;
        border-radius: 100px;
        padding: 20px;
        padding-bottom: 10px;
        margin: 30px 20px;

        .WZ_item {
            display: inline-block;
            margin-right: 20px;
            font-size: 20px;
            color: #797979;
            line-height: 20px;
            cursor: pointer;

            &:before {
                content: "";
                .wh(20px);
                display: inline-block;
                border: 2px solid #797979;
                border-radius: 3px;
                margin-bottom: -4px;
            }

            &.active {
                &:before {
                    content: "✔";
                    .wh(20px);
                    background-color: #35baf1;
                    color: #ffffff;
                    border-color: #35baf1;
                    text-align: center;
                }
            }
        }

        .num_item {
            display: inline-block;
            cursor: pointer;
            margin-right: 15px;
            margin-bottom: 10px;
            height: 40px;
            width: 40px;
            border: 1px solid #CCCCCC;
            border-radius: 50%;
            background-color: #FFFFFF;
            font-size: 1.75rem;
            box-shadow: 1px 1px 2px #ccc;
            transition: all .1s linear;
            text-align: center;
            line-height: 40px;

            &.active {
                background-color: #D73021;
                color: #fff;
            }
        }

        .num_item_btn {
            .wh(30px);
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            font-size: 15px;
            background-color: #ffffff;
            margin-right: 10px;
            transition: all .2s linear;
            line-height: 30px;

            &:hover {
                color: #E94335;
                border: 1px solid #E94335;
            }
        }

        .num_item_C {
            width: 80px;
            border-radius: 50px;
        }
    }
}

.bx() {
    box-sizing: border-box;
}

.wh(@wh) {
    width: @wh;
    height: @wh;
}

.br() {
    border: 1px solid red;
}